$text: #2e293c;
$secondary: #a09da6;

*::after,
*::before {
    content: '';
    position: absolute;
}


.testimonial-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
        width: 900px;
        height: 550px;
        background: #f2f2f6;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    .testimonial-container {
        width: 1280px;
        min-width: 1280px;
        height: 600px;
        position: relative;

        .arrows {
            cursor: pointer;
            position: absolute;
            display: flex;
            width: 100px;
            align-items: center;
            justify-content: center;
            bottom: 0;
            top: 0;
            border-radius: 8px;
            transition: .3s ease-in-out;

            &:hover {
                box-shadow: 0px 0px 30px rgba(0, 0, 80, .05);
            }

            &.right {
                right: 0;
            }
        }

        .inner {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 600px;

            .t-image {
                position: relative;
                width: 500px;
                height: 600px;
                display: flex;
                justify-content: center;
                align-items: center;

                &::after {
                    width: 170px;
                    height: 170px;
                    background: #3f56da;
                    left: -10px;
                    top: 0;
                    border-radius: 100%;
                    z-index: -1;
                }

                ul {
                    $width: 340px;
                    $height: 460px;
                    display: flex;
                    position: absolute;
                    overflow: hidden;
                    height: $height;
                    width: $width;
                    padding: 0;
                    box-shadow: 0px 0px 40px rgba(0, 0, 0, 2.5);
                    margin: 0;

                    li {
                        list-style: none;
                        height: $height;
                        width: $width;

                        img {
                            height: $height;
                            width: $width;
                        }
                    }
                }
            }
        }


        .t-content {
            width: 500px;
            height: 600px;
            display: flex;
            align-items: center;
            justify-content: center;

            ul {
                position: absolute;
                overflow: hidden;
                width: 500px;
                height: 400px;

                li {
                    width: 500px;
                    height: 400px;
                    color: $text;
                    display: flex;
                    align-items: center;
                    position: absolute;
                    opacity: 0;

                    .content-inner {
                        width: 500px;

                        .quote {
                            font-size: 24px;
                            letter-spacing: .88px;
                            line-height: 40px;
                            font-weight: 700;
                            margin-bottom: 16px;
                        }

                        .name {
                            letter-spacing: .88px;
                            font-size: 18px;
                            line-height: 28px;
                            color: $secondary;
                        }

                        .title {
                            @extend .name;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }
}